---
---
<footer class="site-footer">
  <div class="container">
    <div><p class="signature">Harshith Kantamneni · 2026</p></div>
    <div class="footer-links">
      <a href="mailto:kantamneniharshith@gmail.com">Email</a>
      <a href="https://github.com/Drogon4231">GitHub</a>
      <a href="https://www.linkedin.com/in/harshithkantamneni">LinkedIn</a>
      <a href="/harshithkantamneni.github.io/rss.xml">RSS</a>
    </div>
  </div>
</footer>
